@import url(reset.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}
.background {
    position: absolute;
    background: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    filter: blur(2px);
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    z-index: -1;
}
.card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    border: 2px solid #ffffff40;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    align-items: center;
    gap: 12px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 2rem;
    z-index: 1;
}
@media (max-width:290px) {
    .card {
        margin: 0px;
    }
}
.card__profile-picture {
    --profile-picture-size: 140px;
    content: url(../img/profile.jpeg);
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    border: 4px solid #ffffff40;
    box-shadow: 0px 0px 16px 4px black;
    border-radius: 999px;
}
.card__title {
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
.card__subtitle {
    font-weight: 600;
}
.card__endereco {
    display: flex;
    align-items: center;
    font-weight: 900;
}
.card__endereco svg {
    height: 20px;
    width: 20px;
}
.card__links {
    display: flex;
    gap: 4px;
}
.card__links a {
    border: 2px solid #000;
    align-self: center;
    border-radius: 8px;
}
.card__bottom {
    display: flex;
    gap: 20px;
}
svg {
    height: 40px;
    width: 60px;
}
.botao {
    border: 2px solid #000;
    border-radius: 16px;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
}
.botao svg {
    height: 32px;
    width: 32px;
}
@media (min-width:720px) {
    .card {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4rem 2rem;
        justify-content: space-around;
    }
    .card__profile-picture {
        height: 280px;
        width: 280px;
    }
    .card__title {
        text-align: center;
        font-size: 4rem;
        width: 40vw;
    }
    .card__subtitle {
        font-size: 20px;
        font-weight: 500;
        width: 40vw;
    }
}
